<header class="plant-header">
  <div class="container plant-header__inner">
    <a class="plant-header__back" href="plant">
      <i data-lucide="arrow-left" aria-hidden="true"></i>
      <img class="plant-header__avatar" data-plant-avatar src="" alt="">
      <div>
        <p class="plant-header__name" data-plant-name>Planta</p>
        <p class="plant-header__species" data-plant-species>Especie</p>
      </div>
    </a>
    <a class="btn btn--outline" id="plant-header-action" href="plant">Ver historial</a>
  </div>
</header>

